.search-button {
    background-color: var(--dark-grey);
    color: var(--green);
    border: none;
    cursor: pointer;
}
.search-button:focus {
    outline: none;
}
.search-button:active {
    transform: scale(0.99);
}

