.league_item {
    margin-top: 2px; /* Ruimte boven het item */
    margin-bottom: 2px; /* Ruimte onder het item */
    padding: 2px 5px; /* Binnenruimte rondom de tekst */
}

.league_item:hover {
    background-color: var(--green); /* Groene achtergrond bij hover */
    color: var(--dark-grey); /* Donkergrijze tekstkleur bij hover */
    cursor: pointer; /* Cursor verandert in een handje */
}
