.pageLayout {
    display: flex;
    height: 100vh;
    gap: 20px;
    padding: 0 20px 20px 20px;
    box-sizing: border-box;
}

.leftPanel {
    flex: 2;
    background-color: var(--green);
    padding: 1em;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.rightPanel {
    flex: 1;
    background-color: var(--green);
    padding: 1em;
    border-radius: 11px;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.scrollableContent {
    flex: 1;
    overflow-y: auto;
}

.error-message {
    color: #ff4d4d;
    font-size: 0.9rem;
    margin: 10px 0;
}

@media (max-width: 1024px) {
    .pageLayout {
        flex-direction: column;
        height: auto;
    }

    .leftPanel, .rightPanel {
        flex: none;
        width: 100%;
        height: auto;
    }
}
