.pageLayout {
    display: flex;
    height: 100%;               /* Volledige schermhoogte */
    padding: 20px;
    box-sizing: border-box;
    gap: 20px;

}

.leftPanel {
    flex: 2;
    background-color: var(--green);
    padding: 1em;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
}

.rightPanel {
    flex: 1;
    background-color: var(--green);
    padding: 1em;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
}

/* Inhoud binnenin scrollbaar maken */
.scrollableContent {
    flex: 1;
    overflow-y: auto;
}
