:root {
  --green: #84A98C;       /* Hoofdkleur groen */
  --dark-grey: #282c34;   /* Donkergrijs voor achtergronden */
  --dark-green: #52735E;  /* Donkergroen accentkleur */
}

html {
  background-color: var(--dark-grey); /* Achtergrondkleur voor hele pagina */
}

/* CSS Reset */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

@font-face {
  font-family: "Raleway";
  src: url("./assets/Raleway-VariableFont_wght.ttf") format("truetype");
}


.App {
  font-family: Raleway, Tahoma, Geneva, Verdana, sans-serif; /* Typografie */
  text-align: center;
  background-color: var(--dark-grey);
  color: var(--dark-grey);
}

/* Grid layout met 3/1 verhouding */
.grid {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 10px;
}

/* Panel met groene achtergrond */
.panel {
  background-color: var(--green);
  padding: 10px;
  border-radius: 2px;
  margin: 5px 7px;
}

/* Margins (utilities) */
.m-0 {
  margin: 0;
}

/* Margin start (links) */
.ms-1 { margin-left: 0.25rem; }
.ms-2 { margin-left: 0.5rem; }
.ms-3 { margin-left: 0.75rem; }
.ms-4 { margin-left: 1rem; }
.ms-5 { margin-left: 1.25rem; }

/* Margin end (rechts) */
.me-1 { margin-right: 0.25rem; }
.me-2 { margin-right: 0.5rem; }
.me-3 { margin-right: 0.75rem; }
.me-4 { margin-right: 1rem; }
.me-5 { margin-right: 1.25rem; }

/* Margin top */
.mt-1 { margin-top: 0.25rem; }
.mt-2 { margin-top: 0.5rem; }
.mt-3 { margin-top: 0.75rem; }
.mt-4 { margin-top: 1rem; }
.mt-5 { margin-top: 1.25rem; }

/* Tekst links uitlijnen */
.text-start {
  text-align: left;
}
.text-red {
  color: red;
}

